.list-container{
  display: block;

  @include md{
    display: flex;
    align-content: center;
    align-items: stretch;
    flex-wrap:wrap;
  }
}

.list-title{
  padding-left:15px;
}

.list-item{
  border-top:1px solid $darkBlue;
  border-right:1px solid $darkBlue;
  padding:15px;

  h4{
    margin:0;
    border-bottom: 1px solid $darkBlue;
  }

  .intro{
    color: $darkBlue;
  }

  .item-tag{
    background: $lightBlue;
    color:$darkBlue;
    padding: 2px 5px;
    font-size:smaller;
  }

  .item-date{
    margin-bottom:10px;
    text-transform: uppercase;
  }

  .tags{
    h5{
      margin:0;
      // border-bottom:1px solid $darkBlue;
      margin-bottom:5px;
    }
  }

  @include md{
    width:33%;
    flex-grow:1;
  }

}