.list-title{
  font-size: 3rem;
}

ul{
  margin:0;
  padding:0;
  font-size:2rem;
  font-weight:bolder;
  list-style:none;

  a{
    font-family: 'Shaun';
    font-size:2rem;
    text-decoration:underline;
  }

}

.project-list-item{
  img{
    max-width:100%;
  }
}

.grid-list{
  @include lg{
    display: grid;
    grid-template-columns: calc(100%/2) calc(100%/2);
    grid-gap: 25px;
  }

  @include xl{
    grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
  }
}