{{ partial "header" . }}

<div class="container">

  <div class="intro">
    <h1>Greetings,</h1>

    <p>
      I build things with code.
    </p>

    <p>
      Right now a lot of those things live on the w<sup>e</sup>b 
    </p>

    <p>
      A lot of those things are written in <b>JavaScript</b>. Some of them are done in <b>Ruby</b>. The rest is kind of a mish-mash between Python, Swift and other languages.
    </p>

    <p>
      Here you will find some of my <a href="/work"><u>Work</u></a>
    </p>

    <h2>GODSPEED</h2>


  </div>


</div>

{{ partial "footer" .}}