body {
  color:#C3EAFF;
  background: #16212F;
  background-size: 15px 15px;
  background-image: radial-gradient(#466A97 3%, transparent 4%), radial-gradient(#466A97 3%, transparent 4%);
  font-family: 'Nova Mono', monospace;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:13px;
}